*{
    margin: 0;
    box-sizing: border-box;
    font-family: 'VT323', sans-serif;
}
body{
    background: rgb(165, 243, 142);
}

header{
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgb(7, 231, 7);
    height: 80px;
    color: white;
    font-style: italic;
    text-shadow: 3px 0px 3px #000;
}

.post{
       
        font-size: 18px;
        font-weight: 600;
        text-align: center;
        margin: 1em auto;
        width: 40%;
        background: rgb(224, 137, 5);
        padding: 1em;
        color: white;

}
.post h1 {
    font-size: 19px;
    color: rgb(0, 0, 0);
    font-style: italic;
}